<h1>Listing busroutes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @busroutes.each do |busroute| %>
      <tr>
        <td><%= busroute.title %></td>
        <td><%= busroute.description %></td>
        <td><%= link_to 'Show', busroute %></td>
        <td><%= link_to 'Edit', edit_busroute_path(busroute) %></td>
        <td><%= link_to 'Destroy', busroute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busroute', new_busroute_path %>
